<!DOCTYPE html>
<html>
<!-- HEAD-->
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>
      <main class="profile-page">
        <section class="profile align-items-stretch">
          <div class="profile-p ">
            <img class="profile-img" src="/images/users/perfil.jpeg"  alt="Foto de perfil">

            <h2 class="profile-info">¡Hola Sergio! </h2>
            <h3 class="profile-info">Esta es la información de tu perfil:</h3>
            <p class="profile-info">Nombre: Sergio</p>
            <p class="profile-info">Correo electrónico: sergiopepe.it@gmail.com</p>

            <form method="get" action="/user/products">
              <button class="Boton admin-button">Administrar productos</button>
            </form>

            <form method="post" action="/user/profile">
              <button class="Boton logout-button">Cerrar Sesión</button>
            </form>
          </div>
        </section>

        <section class="expertise d-flex flex-column">
            <h2 class="proyects-title">Mis Proyectos</h2>
            <h3 class="proyect-subtitle">Aquí puedes observar tus proyectos</h3>
              
            <!-- Galeria de Proyectos -->
            <div class="container text-center proyect-container">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto1.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto2.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto3.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto4.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="proyecto">
                    <img src="/images/proyects/proyecto5.jpg" alt="imagen del proyecto">
                    <div class="overlay">
                        <p>Titulo proyecto</p>
                        <div class="link-container">
                          <!--LINK AL REPO DEL PROYECTO-->
                          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                          </a>
                          <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-laptop"></i>
                          </a>
                          
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>


      </main>


      <%- include("./partials/footer") %>
  </body>

</html>