<footer class="d-flex flex-column align-items-center justify-content-center">

    <img class="footer-icono" src="images/icon.jpg" width="50" alt="logo">
    <p class="footer-text text-center"> Estas son mis redes sociales por donde puede contactarme</p>
    <div class="iconos-redes d-flex flex-wrap align-items-center justify-content-center" >
        <a href="https://www.instagram.com/">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://github.com/">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/">
            <i class="bi bi-linkedin"></i>
        </a>

    </div>

</footer>